@using UserManagment.Models.ViewComponents
@model PasswordViewModel
<div>
    <h1>Установка пароля</h1>
    <div class="div-box">
        <form asp-area="" asp-controller="Account" asp-action="ResetPassword" method="post">
            <input type ="hidden" name="UserId" value="@Model.UserId" />
            <input type ="hidden" name="Code" value="@Model.Code" />
            <table class="cellToChange">
                <tr>
                    <td>
                        <label>Пароль</label>
                    </td>
                    <td>
                        <input type="password" class="forInput" name="Password" />
                    </td>

                </tr>

                <tr>
                    <td>
                        <label>Подтвердите пароль</label>
                    </td>
                    <td>
                        <input type="password" class="forInput" name="ConfirmPassword" />
                    </td>

                </tr>

            </table>

            <input class="button-large" type="submit" value="Подтвердить" />
        </form>
    </div>
</div>
