 <!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-8 col-12-medium">

                <!-- Links -->

            </div>
        </div>
    </div>
</section>

<!-- Copyright -->
<div id="copyright">
    &copy; Все права защищены | Верхнева Ксения РИЗ-200028у
</div>